*{
  padding: 0;
  margin: 0;
}

body{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.background-image{
  background-image: url('image/calculator2.jpg');
  width: 100%;
  height: 663px;
  margin-top: -330px;
  background-size:cover;
  
}
.title{
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  color: rgb(248, 116, 7);
}
.inc{
  
  width: 90px;
  padding: 3px;
  margin-left: 60px;
  
  
}
.dec{
  
  width: 90px;
  padding: 3px;

  margin-left: 10px;
}
button{
  background-color: azure;
}
.counter{
  width: 300px;
  height: 50px;
  
  
  margin-top: -400px;
  align-items: center;
  
}


